https://github.com/huggingface/transformers/archive/refs/heads/main.zip
# transformers 4.28.0.dev0
tqdm
datasets
loralib
colossalai>=0.2.4
torch<2.0.0, >=1.12.1
langchain
tokenizers
fastapi
sse_starlette
wandb
sentencepiece
gpustat
decorator
accelerate